html,
body,
header,
#intro {
    height: 100%;
}
strong { font-weight: bold; }
.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}
.logo-animation
{
  height: 200px;
  width: 200px;
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.modal-open
{
  overflow-x: hidden!important;
}
break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
  display: inline-block;
}
.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {

    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media only screen and (min-width: 990px) 
  {
    .buttonregisterfirm
    {
      margin-top: 64px;
    }
  }
  
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
a.active {
    background-color: #2b2a29 !important;
    color:  #ffed00 !important;
}
a.active:focus
{
    background-color: #2b2a29 !important;
    color:  #ffed00 !important;
}
a.active:hover
{
    background-color: #2b2a29 !important;
    color:  #ffed00 !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #2b2a29;
  border-color:  #ffed00 ;
  background-color: #ffed00;
}
.center-div
{
  display: block;margin-left: auto;margin-right: auto;
}
#wrapper {
  position: relative;
  min-height:100%;
}

#pageContent {
  padding-bottom: 166px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

